#item-details-container {
    margin-top: 20px;
    margin-bottom: 50px;
}
#item-details-container:after {
    content: " "; 
    display: block;
    clear: both;
}

#item-details-container > div.centered {
    /* these 2 lines align div to center*/
    width: 70%;
    margin: 0 auto; 
    margin-bottom: 40px;
    /*background-color:  rgb(205, 137, 20);*/
    /*border-radius: 60px;*/
}

#main-and-image-info-container { /*make two divs and filedsets inside have same height*/
    margin-bottom: 20px;
}

#main-info {
    float: left;
    height: 100%;
    /*width: 70%;*/
    padding-left: 40px;
}

#image-info {
    float: left;
    height: 100%;
    /*margin-left: 20px;*/
    width: 40%;
}

#image-info > img {
    float: right; /*to zjebe 5inch, */
}

#chartdiv {
    width: 100%;
    height: 500px;
}



/*----------------------Responsive Styles-----------*/

@media screen and (max-width : 600px) { /*5inch: malo prej zamenjaj, ker se malo pred tem pojavijo čudne postavitve*/
    #main-info {
        text-align: center;
        width: 100%;
        height: 50%;
        padding-left: 0px; /*reset padding*/
    }

    #image-info {
        text-align: center;
        width: 100%;
        height: 50%;
    }

    #image-info > img {
        float: none;
    }
}
