#item-details-container {
    margin-top: 20px;
    margin-bottom: 50px;
}
#item-details-container:after {
    content: " "; 
    display: block;
    clear: both;
}

#item-details-container > div.centered {
    /* these 2 lines align div to center*/
    width: 70%;
    margin: 0 auto; 
    margin-bottom: 40px;
    /*background-color:  rgb(205, 137, 20);*/
    /*border-radius: 60px;*/
}

#main-and-description-info-container { /*make two divs and filedsets inside have same height*/
    margin-bottom: 20px;
}

#main-info {
    float: left;
    /*width: 50%;*/
    height: 100%;
    /*text-align: center;*/
}

#description-info {
    float: left;
    /*width: 50%;*/
    height: 100%;
    /*text-align: center;*/
    margin-left: 20px;
}




/*----------------------Responsive Styles-----------*/

@media screen and (max-width : 600px) { /*5inch: malo prej zamenjaj, ker se malo pred tem pojavijo čudne postavitve*/
    #main-info {
        /*float: none;*/
        width: 100%;
        height: 50%;
        margin-bottom: 50px; /*fieldset gleda čez div, zato se brez tega prekrivata*/
    }

    #description-info {
        /*float: none;*/
        width: 100%;
        height: 50%;
    }
}
