#category-and-search-input-container {
    /*display: flex;
    align-items: center;
    justify-content: center;*/
    text-align: center;
    margin-top: 30px;
    margin-bottom: 50px;
}

section#content {
    margin-bottom: 100px;
}


/*----------------------Responsive Styles-----------*/

@media screen and (max-width : 480px) { /*5inch*/
    #category-and-search-input-container {
        margin-top: 0px;
    }

    #category-and-search-input-container select, #category-and-search-input-container input,
    #category-and-search-input-container button {
        width: 100%;
        /*hack za une pixle, ki se pojavijo na mobilcu*/
        -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
        box-sizing: border-box;
    }   
}
