body
{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 500;
    font-size: 32px;
    margin: 0px;
}

/*h1, h2, h3 { /*tole uniči margin, ki je header naredu prevelik, tega zdej ne rabmi, ker nimam nikjer h-jev
    margin: 0px;
}*/


/*------------------------*/
#index-page-header {
    height:120px; /*to get the background color*/ /**enako kot default-header*/
}


#default-header {
    background-color: rgb(205, 137, 20);
    height: 120px; /*to get the background color*/ /**enako kot indey-page-header*/
    width: 100%;
}


.login { /*ne vpliva na flow strani*/
    float: right;
    position: center;
    margin-right: 30px;
    margin-top: -80px;
}


#header-left-div {
    /*display: inline-block;*/
    float: left;
    width: 60%;
    height: 100%;
    text-align: center;
    /*overflow: auto;*/
    /*these 3 lines make span on vertical center*/
    display: flex;
    align-items: center;
    justify-content: center;
}

#header-right-div { /*ne vpliva na flow strani*/
    float: left;
    width: 40%;
    height: 100%;
    text-align: center;
    /*these 3 lines make span on vertical center*/
    display: flex;
    align-items: center;
    justify-content: center;
}


/*zaenkrat samo na login page-u, kjer ne rabiš poleg logo še vpis*/
#header-only-div {
    width: 100%;
    height: 100%;
    text-align: center;
    /*vertical center*/
    display: flex;
    align-items: center;
    justify-content: center;
}



span.emphasize {
    text-decoration: underline;
    font-weight:900;
}


.linkToButton-big { /*spremeni link v button, uporabi za ostale*/
    border-radius: 50px;
    /*border: 2px;*/
    border-color: white;
    border-style: solid;
    padding: 17px;
    color: white;
    text-decoration: solid;
    background-color: rgb(205, 137, 20);
}

.linkToButton-default {
    border-radius: 50px;
    border: 2px;
    /*border-color: white;
    border-style: solid;
    padding: 12px;*/
    /*color: white;
    text-decoration: solid;
    background-color: rgb(205, 137, 20);
    font-size: 24px;*/
}




footer {
    min-height: 160px; /*for testing*/
    background-color: black;
    color: white;
    font-size: 30px;
    font-weight: 500;
}



/*---------------------------------*/

/* animated elements */
.animateblock {
  padding: 8px 0;
  opacity: 0;
  -webkit-transition: all 1.0s linear;
  -moz-transition: all 1.0s linear;
  transition: all 1.0s linear;
}
 
.animateblock.animated {
  opacity: 1;
}

/***************** animation transition styles */
.animateblock.centerleft {
  display: block;
  width: auto;
  text-align: center;
  margin-right: -40%;
}
.animateblock.centerleft.animated {
  margin-right: 0;
}
 
.animateblock.centerright {
  display: block;
  width: auto;
  text-align: center;
  margin-left: -10%;
}
.animateblock.centerright.animated {
  margin-left: 0;
}

/******************* menu */

#navigation-menu {
    height: 70px;
}

#navigation-menu ul {
	list-style-type:none;
	margin:0;
	padding:0;
    width: 100%;
    height: 100%;
	/*position: absolute;*/
}

#navigation-menu li {
	display:inline-block;
	float: left;
    width: 33.33%;
    height: 100%;
}

/*Style for menu links*/
#navigation-menu li a {
	display:block;
	min-width:140px;
	height: 100%;
	text-align: center;
	/*font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;*/
	color: #fff;
	background: #2f3036;
	text-decoration: none;
    /* vertical center*/
    display: flex;
    align-items: center;
    justify-content: center;
}


/*Style 'show menu' label button and hide it by default*/
#show-menu-label {
	text-decoration: none;
	color: #fff;
	background: #2f3036;
	text-align: center;
	padding: 10px 0;
	display: none;
}

/*Hide checkbox*/
input[type=checkbox]{
    display: none;
}

/*Show menu when invisible checkbox is checked*/
input[type=checkbox]:checked ~ #navigation-menu {
    display: block;
}
/**************end menu */


/*----------------------Responsive Styles-----------*/

@media screen and (max-width : 760px){

    html *
{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 400;
    font-size: 20px;
}

    /**********resposive menu */

    /*hide list, when menu label is first displayed*/
	#navigation-menu {
		/*position: static;*/
		display: none;
	}

	/*Make all menu links full width*/
	#navigation-menu ul li, #navigation-menu li a {
		width: 100%;
	}

	#show-menu-label {
		display:block;
	}

    /**********responsive header*/

    #default-header {
        background-color: rgb(205, 137, 20);
        height: 60px; /*to get the background color*/ /**enako kot indey-page-header*/
        width: 100%;
    }
    
    #header-left-div {
        float: left;
        width: 60%;
        height: 100%;
        text-align: center;
        /*vertical center*/
        display: flex;
        align-items: center;
        justify-content: center;
    }

    #header-right-div {
        float: left;
        width: 40%;
        height: 100%;
        text-align: center;
        /*vertical center*/
        display: flex;
        align-items: center;
        justify-content: center;
    }
}



.text-align-center {
    text-align: center; /*probi dat une 3 notr, pa poglej če se kje kej pokvari*/
}