body
{
    font-family: 'Century Gothic';
    font-weight: 500;
    font-size: 32px;
    margin: 0px;
}

/*h1, h2, h3 { /*tole uniči margin, ki je header naredu prevelik, tega zdej ne rabmi, ker nimam nikjer h-jev
    margin: 0px;
}*/


input, textarea, select, button { /*drugače ma vsak browser po svoje*/
    font-family: inherit;
    font-size: inherit;

}

/*------------------------*/
#index-page-header {
    height:120px; /*to get the background color*/ /**enako kot default-header*/
}


#default-header {
    background-color: rgb(205, 137, 20);
    height: 120px; /*to get the background color*/ /**enako kot indey-page-header*/
    width: 100%;
}


.login { /*ne vpliva na flow strani*/
    float: right;
    position: center;
    margin-right: 30px;
    margin-top: -80px;
}


#header-left-div {
    /*display: inline-block;*/
    float: left;
    width: 60%;
    height: 100%;
    text-align: center;
    /*overflow: auto;*/
    /*these 3 lines make span on vertical center*/
    display: flex;
    align-items: center;
    justify-content: center;
}

#header-right-div { /*ne vpliva na flow strani*/
    float: left;
    width: 40%;
    height: 100%;
    text-align: center;
    /*these 3 lines make span on vertical center*/
    display: flex;
    align-items: center;
    justify-content: center;
}


/*zaenkrat samo na login page-u, kjer ne rabiš poleg logo še vpis*/
#header-only-div {
    width: 100%;
    height: 100%;
    text-align: center;
    /*vertical center*/
    display: flex;
    align-items: center;
    justify-content: center;
}



span.emphasize {
    text-decoration: underline;
    font-weight:900;
}


.linkToButton-big { /*spremeni link v button, uporabi za ostale*/
    border-radius: 50px;
    /*border: 2px;*/
    border-color: white;
    border-style: solid;
    padding: 17px;
    color: white;
    text-decoration: solid;
    background-color: rgb(205, 137, 20);
}

.linkToButton-default {
    border-radius: 50px;
    border: 2px;
    /*border-color: white;
    border-style: solid;
    padding: 12px;*/
    /*color: white;
    text-decoration: solid;
    background-color: rgb(205, 137, 20);
    font-size: 24px;*/
}




table {
	border-width: 1px;
	border-collapse: collapse;
    margin-top: 20px;
    margin-bottom: 20px;
    width: 100%; /*če 95 centriram na center, ampak noče scrollat čist v levo css: table {}*/
    min-width: 400px; /*TODO glede na informacije v tabeli*/
}
table th {
    border-width: 1px;
    padding: 8px;
    border-style: solid;
    background-color: rgb(205, 137, 20); /*darkgray*/
    font-weight: 700; /*ta prepiše neko default vrednost ki se pojavi -- tudi 700*/
}

table td {
	border-width: 1px;
	padding: 8px;
	border-style: solid;
}


/*create class for all titles*/
span.title {
    /*background-color: rgb(205, 137, 20);*/
    font-weight: bold;
    text-transform: uppercase;
}


footer {
    min-height: 100px; /*for testing*/
    background-color: black;
    color: white;
    font-size: 30px;
    font-weight: 500;
    width: 100%;
}

footer > div {
    padding-top: 30px;
}

footer > div > span#about-link {
    float: left; 
    padding-left: 50px;
}

#fb-link {
    float: right;
    padding-right: 50px; 
}

#fb-link > img {
    width: 40px; 
    height: 40px; 
}

/*---------------------------------*/

/* animated elements */
.animateblock {
  padding: 8px 0;
  opacity: 0;
  -webkit-transition: all 1.0s linear;
  -moz-transition: all 1.0s linear;
  transition: all 1.0s linear;
}
 
.animateblock.animated {
  opacity: 1;
}

/***************** animation transition styles */
.animateblock.centerleft {
  display: block;
  width: auto;
  text-align: center;
  margin-right: -40%;
}
.animateblock.centerleft.animated {
  margin-right: 0;
}
 
.animateblock.centerright {
  display: block;
  width: auto;
  text-align: center;
  margin-left: -10%;
}
.animateblock.centerright.animated {
  margin-left: 0;
}

/******************* menu */

#navigation-menu {
    height: 70px;
}

#navigation-menu ul {
	list-style-type:none;
	margin:0;
	padding:0;
    width: 100%;
    height: 100%;
	/*position: absolute;*/
}

#navigation-menu li {
	display:inline-block;
	float: left;
    width: 25%;
    height: 100%;
}

/*Style for menu links*/
#navigation-menu li a {
	display:block;
	min-width:140px;
	height: 100%;
	text-align: center;
	/*font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;*/
	color: #fff;
	background: #2f3036;
	text-decoration: none;
    /* vertical center*/
    display: flex;
    align-items: center;
    justify-content: center;
}


/*Style 'show menu' label button and hide it by default*/
#show-menu-label {
	text-decoration: none;
	color: #fff;
	background: #2f3036;
	text-align: center;
	padding: 10px 0;
	display: none;
}

/*Hide checkbox*/
input[type=checkbox]{
    display: none;
}

/*Show menu when invisible checkbox is checked*/
input[type=checkbox]:checked ~ #navigation-menu {
    display: block;
}
/**************end menu */




.text-align-center {
    text-align: center; /*probi dat une 3 notr, pa poglej če se kje kej pokvari*/
}



/*------------novo v naši knjižnici je v site.css zato ker se pojavi na index in home page-u*/
div.colored {
    background-color: rgb(255,228,181);  	/*(255,250,240)*/
    display: inline-block;
    border-radius: 60px;
    padding: 5px;
    border-style: groove;
    width: 70%;
}

hr.inline-with-text {
    float: left;
    width: 34%;
}

#new-block-title {
    float: left;
    width: 32%;
}


#new-in-section {
    height: 100px;
    text-align: center;
    /*vertical center*/
    display: flex;
    align-items: center;
    justify-content: center;
}

.new-item-image {
    display: inline-block;
    /*float: left;
    margin-left: 60px;*/
}
.new-item-description {
    display: inline-block;
    vertical-align: top;
}

/*****************end novo v naši knjižnici*/


#table-container {
    /**s temi tremi noče overflow-x scrollat čist na levo*/
    /*display: flex;
    align-items: center;
    justify-content: center;*/
    overflow-x: auto;
}



.logo-text {
    text-decoration: underline;
}




img.user-icon {
    width: 50px; 
    height: 50px;
    padding-left: 10px;
}


/*span.username { /*span pr uporabniku se ne zlomi
    white-space: nowrap;
}*/


/*----------------------Responsive Styles-----------*/
@media screen and (max-width : 910px) { /*cca 9 inch*/

    /*****novo  naši knjižnici*/
    div.colored {
        background-color: rgb(255,228,181); /*(255,250,240)*/
        display: inline-block;
        border-radius: 60px;
        padding: 5px;
        border-style: groove;
        width: 90%;
    }

    hr.inline-with-text {
        float: left;
        width: 20%;
    }

    #new-block-title {
        float: left;
        width: 60%;
    }
    /********end novo*/


    /***menu naj se malo zmanjša za tablice, da ni en link v dveh vrsticah v velikem fontu*/
    #navigation-menu li a {
	    font-size: 24px;
    }


    img.user-icon {
        width: 40px; 
        height: 40px;
        padding-left: 0px;
    }

    #header-right-div span.username {
        display: none;
    }

}







@media screen and (max-width : 480px) { /*5inch TODO  550px bolj ustreza tabeli na itemDetails, mal več pa tabeli na Home, ker ima več podatkov*/

    html *
    {
        /*font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;*/
        font-weight: 400;
        font-size: 20px;
    }

    /**********resposive menu */

    #navigation-menu li a {
	    font-size: 20px; /*resetiraj tisto, kar je bilo pri 9inch*/
    }

    /*hide list, when menu label is first displayed*/
	#navigation-menu {
		/*position: static;*/
		display: none;
	}

	/*Make all menu links full width*/
	#navigation-menu ul li, #navigation-menu li a {
		width: 100%;
	}

	#show-menu-label {
		display:block;
	}

    /**********responsive header*/

    #default-header {
        background-color: rgb(205, 137, 20);
        height: 60px; /*to get the background color*/ /**enako kot indey-page-header*/
        width: 100%; /*na telefonu se to ne pokaže*/
    }
    
    #header-left-div {
        float: left;
        width: 60%;
        height: 100%;
        text-align: center;
        /*vertical center*/
        display: flex;
        align-items: center;
        justify-content: center;
    }

    #header-right-div {
        float: left;
        width: 40%;
        height: 100%;
        text-align: center;
        /*vertical center*/
        display: flex;
        align-items: center;
        justify-content: center;
    }


}