<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>About</title>

    <link rel="stylesheet" type="text/css" href="~/Content/Site.css" />
    <link rel="stylesheet" type="text/css" href="~/Content/About.css" />


    @*<script src="~/Scripts/jquery-1.10.2.js"></script>*@
    <script src="~/Scripts/site.js"></script>
    <script src="~/Scripts/about.js"></script>
    <script src="https://maps.googleapis.com/maps/api/js?key=MY-KEY&callback=initialize"></script>
</head>
<body>
    <header id="default-header">
        <div id="header-left-div">
            <span class="logo-text">MOJA KNJIŽNICA&trade;</span>
        </div>
        <div id="header-right-div">
            <a class="linkToButton-default" href='@Url.Action("Login")'>VPIS</a>
        </div>
    </header>


    <section id="description-about-us" class="text-align-center">
        <div>
            <span class="title">O nas</span>
        </div>
        <div > <!--description-->
            <p>
                Glavni namen spletne aplikacije je <span class="emphasize">iskanje</span>, <span class="emphasize">
                rezervacija</span> in <span class="emphasize">izposoja</span> izdelkov (knjig, cdjev, ...). Poleg tega aplikacija omogoča vpogled v 
                <span class="emphasize">statistiko</span> (največkrat izposojeni izdelki v zadnjem mesecu/letu, število izposoj ne mesec za tekoče leto,
                ...) ter <span class="emphasize">predlaganje novih izdelkov</span> za izposojo, ki jih trenutno še ni v knjižnici.
            </p>
        </div>
    </section>


    <section id="map-and-contact">
        <div id="map-container" class="text-align-center">
            <div>
                <span class="title">Kje smo?</span>
                <br />
                <br />
                <p>
                    Nahajamo se v središču Ljubljane, na <span class="emphasize">Slovenski cesti 25</span>. 
                    Odprti smo od ponedeljka do petka od 8.00 do 20.00. V soboto smo odprti od 8.00 do 13.00.
                </p>
            </div>
            <div id="google-maps-container" class="text-align-center">
                <div id="google-maps"></div>
            </div>
            <div id="get-my-gps-container">
                <div>
                    <span class="title">Izpiši moje koordinate</span>
                </div>
                <div>
                    <input type="button" onclick="getGPSLocation();" value="Poizvedba GPS" />
                </div>
                <div id="gps-result">
                </div>

            </div>
        </div>
        <div id="contack-container" class="text-align-center">
            <div>
                <span class="title">Kontakt</span>
                <br />
                <br />
                <p>Dosegljivi smo vsak delovnik med 8.00 in 20.00 na <span class="emphasize">info@spapp.com</span>.</p>
                <br />
                <br />
            </div>
            <div>
                <span class="title">Naročite se na naše novice</span>
                <br />
                <br />
                <form>
                    <input type="email" placeholder="Vaš elektronski naslov" required/>
                    <button type="submit">Pošlji</button>
                </form>
            </div>
        </div>
    </section>

    <footer class="text-align-center">
        <div>
            <div>
                <span id="about-link">
                    <a href='@Url.Action("About")'>O nas</a>
                </span>
            </div>
            <div id="footer-middle-div">
                <span id="fcopy">&copy; Matic Bizjak</span>
            </div>
            <div>
                <a id="fb-link" href="http://www.facebook.com/Moja-Knjižnica-242222909528420">
                    <img src="~/Content/Images/FBicon.gif" />
                </a>
            </div>
        </div>
    </footer>

</body>
</html>