<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>About</title>

    <link rel="stylesheet" type="text/css" href="~/Content/Site.css" />
    <link rel="stylesheet" type="text/css" href="~/Content/About.css" />


    @*<script src="~/Scripts/jquery-1.10.2.js"></script>*@
    <script src="~/Scripts/site.js"></script>
    <script src="~/Scripts/about.js"></script>
    <script src="https://maps.googleapis.com/maps/api/js?key=My-KEY&callback=initialize"></script>
</head>
<body>
    <header id="default-header">
        <div id="header-left-div">
            <span class="logo-text">MOJA KNJIŽNICA&trade;</span>
        </div>
        <div id="header-right-div">
            <a class="linkToButton-default" href='@Url.Action("Login")'>VPIS</a>
        </div>
    </header>


    <section id="description-about-us" class="text-align-center">
        <div>
            <span class="title">O nas</span>
        </div>
        <div> <!--description-->
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed neque turpis, commodo id odio id, semper tempus justo. Cras pharetra nisi sit amet ex lobortis egestas. Donec sed tincidunt urna. Etiam congue lacus et nisl eleifend, quis venenatis leo tristique. Nullam placerat, 
                ante rhoncus vestibulum dignissim, est turpis tempus augue, at tempor justo purus varius leo.
                 Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas.
                 Ut scelerisque consectetur erat, ut accumsan lectus porttitor a. 
                Maecenas suscipit velit at leo sollicitudin fermentum. Praesent id venenatis arcu.
            </p>
        </div>
    </section>


    <section id="map-and-contact">
        <div id="map-container" class="text-align-center">
            <div>
                <span class="title">Kje smo?</span>
                <br />
                <br />
                <span>Nahajamo se v središču Ljubljane, na Slovenski cesti 25.</span>
                <br />
                <br />
            </div>
            <div id="google-maps-container" class="text-align-center">
                <div id="google-maps"></div>
            </div>
            <div id="get-my-gps-container">
                <div>
                    <span class="title">Izpiši moje koordinate</span>
                </div>
                <div>
                    <input type="button" onclick="getGPSLocation();" value="Poizvedba GPS" />
                </div>
                <div id="gps-result">
                </div>

            </div>
            <!--
            <script>
                function showLocation(position) {
                    var latitude = position.coords.latitude;
                    var longitude = position.coords.longitude;
                    console.log(latitude);
                    console.log(longitude);
                    newLocation(latitude, longitude); /*show on map*/

                    if (document.getElementById("gps-result-span")) {
                        document.getElementById("gps-result-span").remove();
                    }
                    
                    var node = document.createElement("span");
                    node.id = "gps-result-span";
                    var textnode = document.createTextNode("Zemplepisna širina: " + Math.round(latitude * 1000) / 1000 + ". Zemljepisna dolžina: " + Math.round(longitude * 1000) / 1000 + ".");
                    node.appendChild(textnode);
                    document.getElementById("gps-result").appendChild(node);
                    

                    //document.getElementById("gps-result").appendChild("<p>Latitude: " + latitude + " Longitude: " + longitude + "</p>");
                }

                function errorHandler(err) {
                    if (err.code == 1) {
                        alert("Dostop je zavrnjen!");
                    }
                    else if (err.code == 2) {
                        alert("Lokacija je nedostopna!");
                    }
                }

                function getGPSLocation() {
                    if (navigator.geolocation) {
                        var options = { timeout: 10000 };// 10s   //success function
                        navigator.geolocation.getCurrentPosition(showLocation, errorHandler, options);
                    }

                    else {
                        alert("Brskalnik ne podpira GPS lokacije!");
                    }
                }



            </script>
            -->
        </div>
        <div id="contack-container" class="text-align-center">
            <div>
                <span class="title">Kontakt</span>
                <br />
                <br />
                <span>Dosegljivi smo vsak delovnik med 8.00 in 20.00 na info@spapp.com</span>
                <br />
                <br />
            </div>
            <div>
                <span class="title">Naročite se na naše novice</span>
                <br />
                <br />
                <form>
                    <input type="email" placeholder="Vaš elektronski naslov" required/>
                    <button type="submit">Pošlji</button>
                </form>
            </div>
        </div>
    </section>

    <!--
    <script>
        var map;
        function initialize() {
            var mapCanvas = document.getElementById("google-maps");
            var mapOptions = {
                center: new google.maps.LatLng(46.0506628, 14.5025265),
                zoom: 13
            }
            map = new google.maps.Map(mapCanvas, mapOptions);
        }

        function newLocation(newLat, newLng) {
            // the next line is required to work around a bug in WebKit (Chrome / Safari)
            location.href = "#";
            location.href = "#google-maps";

            map.panTo(new google.maps.LatLng(newLat, newLng));
            setTimeout("map.setZoom(15)", 1000); // Zoom in after 1 sec
        }
    </script>
    -->

    <footer class="text-align-center">
        <div>
            <div>
                <span id="about-link">
                    <a href='@Url.Action("About")'>O nas</a>
                </span>
            </div>
            <div>
                <span id="fcopy">&copy; Matic Bizjak</span>
            </div>
            <div>
                <a id="fb-link" href="http://www.facebook.com/Moja-Knjižnica-242222909528420">
                    <img src="~/Content/Images/FBicon.gif" />
                </a>
            </div>
        </div>
    </footer>

</body>
</html>