@*@{
    ViewBag.Title = "Home Page";
}*@





<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My ASP.NET Application</title>

    <link rel="stylesheet" type="text/css" href="~/Content/Site.css" />
    <link rel="stylesheet" type="text/css" href="~/Content/Index.css" />
    @*<script src="~/Scripts/jquery-1.10.2.js"></script>*@
    <script src="~/Scripts/site.js"></script>
     
</head>
<body>
    <div class="fixed-index-header">
        <a class="linkToButton" href='@Url.Action("Login")'>VPIS</a>
    </div>
    <div class="divWithBackgroundImage">
        <header class="index-page-header">
            @*<div class="logo">
                <img src="~/Content/Images/book-hi.png" />
            </div>*@
            <div class="logo-text">
                <div>
                    <h1>LOGO/NAME</h1>
                </div>
                <div class="login">
                    <a class="linkToButton-big" href='@Url.Action("Login")'>VPIS</a> 
                </div>
            </div>
        </header>

        <section id="index-app-description">
            <h3>
                NAME je aplikacija, ki uporabnikom omogoča <span class="emphasize">rezervacijo</span> in <span class="emphasize">izposojo</span> izdelkov v naši knjižnici.
            </h3>
            <br />
            <br />
        </section>

        <section id="registration" class="registration">
            <h3>Prvič pri nas? Registrirajte se in začnite z uporabno že danes!</h3>
            <a href='@Url.Action("Registration")' class="linkToButton-default">
                <span>REGISTRACIJA</span>
            </a>
        </section>

        <section id="search-section" class="animateblock centerright"> @*search*@
            <h3>Ali pa samo pobrskajte po naših izdelkih</h3>
        <a class="linkToButton-default" href="Details">Brskaj</a>
        </section>
    </div>


    @*<fieldset> za novo v naši knjižnici??
        fiedlset
    </fieldset>*@


    <section>
        <hr class="inline-with-text"/>
        <h2 id="new-block-title">NOVO V NAŠI KNJIŽNICI</h2>
        <hr class="inline-with-text" />

        
    </section>
    @* uporabi span za formatiranje besed v stavkih *@


    <section class="one-line-container animateblock centerright">
        <div class="colored">
            <figure>
                <img class="new-item-image" style="width: 200px; height: 200px;" src="~/Content/Images/book-hi.png" />
                <figcaption class="new-item-description">
                    Description of the book
                </figcaption>
            </figure>
        </div>
    </section>


    <section class="one-line-container animateblock centerright">
        <div class="colored">
            <figure>
                <img class="new-item-image" style="width: 200px; height: 200px;" src="~/Content/Images/book-hi.png" />
                <figcaption class="new-item-description">
                    Description of the book2
                </figcaption>
            </figure>
        </div>
    </section>

    <section class="one-line-container animateblock centerright">
        <div class="colored">
            <figure>
                <img class="new-item-image" style="width: 200px; height: 200px;" src="~/Content/Images/book-hi.png" />
                <figcaption class="new-item-description">
                    Description of the book3
                </figcaption>
            </figure>
        </div>
    </section>

    <footer>
        <p>&copy; Matic Bizjak</p>
    </footer>

</body>
</html>






