@*@{
    ViewBag.Title = "Home Page";
}*@





<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My ASP.NET Application</title>

    <link rel="stylesheet" type="text/css" href="~/Content/Site.css" />
    @*<script src="~/Scripts/jquery-1.10.2.js"></script>*@
    <script src="~/Scripts/site.js"></script>

</head>
<body>
    <div class="fixed-menu">
        <a href="login">VPIS</a>
    </div>
    <div class="divWithBackgroundImage">
        <header>
            <div class="logo">
                <img src="~/Content/Images/book-hi.png" />
            </div>
            <div class="logo-text">
                <div>
                    <h1>LOGO/NAME</h1>
                </div>
                <div class="login">
                    <a class="linkToButton" href="#">VPIS</a> 
                </div>
            </div>
        </header>

        @*<div style="min-height: 800px">
            test
        </div>*@


        <section id="registration" class="registration animateblock centerleft">
            <h2>Prvič pri nas?</h2>
            <a href="~/Views/Home/?" class="linkToButton">
                <span>REGISTRACIJA</span>
            </a>
        </section>

        <section id="search-section" class="animateblock centerright"> @*search*@
            <h2>Poiščite knjige preko naše aplikacije in jih rezervirajte kar od doma</h2>
        <a class="linkToButton" href="Details">IŠČI</a>
        </section>
    </div>


    @*<fieldset> za novo v naši knjižnici??
        fiedlset
    </fieldset>*@


    <section>
        <hr class="inline-with-text"/>
        <h2 id="new-block-title">NOVO V NAŠI KNJIŽNICI</h2>
        <hr class="inline-with-text" />

        
    </section>
    @* uporabi span za formatiranje besed v stavkih *@


    <section class="one-line-container animateblock centerright">
        <div class="colored">
            <figure>
                <img class="new-item-image" style="width: 200px; height: 200px;" src="~/Content/Images/book-hi.png" />
                <figcaption class="new-item-description">
                    Description of the book
                </figcaption>
            </figure>
        </div>
    </section>


    <section class="one-line-container animateblock centerright">
        <div class="colored">
            <figure>
                <img class="new-item-image" style="width: 200px; height: 200px;" src="~/Content/Images/book-hi.png" />
                <figcaption class="new-item-description">
                    Description of the book2
                </figcaption>
            </figure>
        </div>
    </section>

    <section class="one-line-container animateblock centerright">
        <div class="colored">
            <figure>
                <img class="new-item-image" style="width: 200px; height: 200px;" src="~/Content/Images/book-hi.png" />
                <figcaption class="new-item-description">
                    Description of the book3
                </figcaption>
            </figure>
        </div>
    </section>

    <footer>
        <p>&copy; Matic Bizjak</p>
    </footer>

</body>
</html>






