@*@{
        Layout = null;
    }*@

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Login</title>

    <link rel="stylesheet" type="text/css" href="~/Content/Site.css" />
    <link rel="stylesheet" type="text/css" href="~/Content/Registration.css" />


    @*<script src="~/Scripts/jquery-1.10.2.js"></script>*@
    <script src="~/Scripts/site.js"></script>

</head>
<body>
    <header id="default-header">
        <div id="header-only-div">
            <span class="logo-text">MOJA KNJIŽNICA&trade;</span>
        </div>
    </header>

    <div id="login-container-div">
        <div id="login-form-div">
            <form id="login-form">
                <div>Dobrodošli nazaj!</div>

                <input type="email" placeholder="Elektronski naslov" required oninvalid="this.setCustomValidity('Vnesite elektronski naslov.')" oninput="setCustomValidity('')" />
                <br />
                <input id="password" type="password" placeholder="Geslo" required oninvalid="this.setCustomValidity('Polje ne sme biti prazno.')" oninput="setCustomValidity('')"/>
                <br />

                <button type="submit">Vpis</button>

            </form>
        </div>

        <a href='@Url.Action("Index")'>Domov</a>
    </div>
    
    <div>
    </div>
</body>
</html>
