
@*@{
    Layout = null;
}*@

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Registration</title>

    <link rel="stylesheet" type="text/css" href="~/Content/Site.css" />
    <link rel="stylesheet" type="text/css" href="~/Content/Registration.css" />


    @*<script src="~/Scripts/jquery-1.10.2.js"></script>*@
    <script src="~/Scripts/site.js"></script>
    <script src="~/Scripts/registration.js"></script>

</head>
<body>
    <header id="default-header">
        <div id="header-left-div">
            <span class="logo-text">MOJA KNJIŽNICA&trade;</span>
        </div>
        <div id="header-right-div">
            <a class="linkToButton-default" href='@Url.Action("Login")'>VPIS</a>
        </div>
    </header>

    <section id="registration-container-section">
        <div>
            <form id="registration-form">
                <div>Podatki za registracijo</div> <!--div zato da ma lahko margin spodi-->
                <input type="text" placeholder="Ime" required oninvalid="this.setCustomValidity('Polje ne sme biti prazno.')" oninput="setCustomValidity('')"/>
                <br />
                <input type="text" placeholder="Priimek" required oninvalid="this.setCustomValidity('Polje ne sme biti prazno.')" oninput="setCustomValidity('')"/>
                <br />
                <input type="email" placeholder="Elektronski naslov" required oninvalid="this.setCustomValidity('Vnesite elektronski naslov.')" oninput="setCustomValidity('')"/>
                <br />
                <input id="password" type="password" placeholder="Geslo" required oninvalid="this.setCustomValidity('Polje ne sme biti prazno.')" oninput="setCustomValidity('')"/>
                <br />
                <input id="confirm-password" type="password" placeholder="Ponovite geslo" required oninput="validatePassword()"/>
                <br />

                <button type="submit">Registriraj me!</button>

            </form>
        </div>

        <br />
        <a class="linkToButton-default" href='@Url.Action("Index")'>Domov</a>
    </section>
    <div> 
    </div>
</body>
</html>
